body{
  background: black;
  display: flex;
  justify-content: center;
  margin: 0;
  user-select: none;
  font-family: 'Gill Sans Nova Light', sans-serif;
  color: #353b48;
  text-align: center;
}
h1{
  font-size: 50px;
}
#bgVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#wrapper{
  background-color: #ededed;
  width: 80%;
  height: auto;
  position: absolute;
}
.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../media/bgPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.flex-container div {
  background-color: #bbbcbf;
  width: 20%;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  box-sizing: border-box;

}

.flex-container div p {
  font-family: 'Lora', sans-serif;
  font-size: 100px;
  margin-top: 50px;
}

#imageBox{
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  #imageBox img {
    width: 100vmin;
    max-height: 70vmax;
  }
}

@media only screen and (min-width: 501px) {
  #imageBox img {
    width: 55vmax;
  }
}

#close{
  height: 5vh !important;
  width: 5vh !important;
  position: absolute;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
}
#loading{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: 8%;
}
#loading img{
  height: 60%;
}
